<!doctype html>
  <html>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <head>
      <title>About Us</title>
    </head>
    <body>
    <!-- This is a comment -->
      <h1>About US</h1>
      <h2>What is our mission?</h2>
      <p>Our mission is to provide all customers with affordable and quality magical products.
          Why wait for a DM to hand you broken magical weapons and items when you can just buy one!</p>
      <h3>Contact Us</h3>
      <ol>
          <li>Email us at magical_items_now@support.com</li>
          <li>Call us at 1-800-559-1938</li>
          <li>Scry us at  Ḧ̵̨̧̢̦̟͈̟̗̳̱̰̯̞̱̼͔̙̰͎̳̱͇̭̦͙́͐̈̎̀͐͘ḛ̴̡̡̛̄̋͛̊̑͂͊̃͗͋̂͑͜͝ ̷̭̠̭̟̼͈͈̜̏͂̑̔͒̆̂̄͋͛̀̈́̄̔̅̄̕͘̚ḩ̵̥̜̹̠̥̪̮̼̮̭̋̓͐̈́͜ͅĕ̴̡̻̘̯̻̥̗̟͇̬̹̙̮̻͖͇͍̼̰̑̽̊̋͘̚͠a̶̱̱͚͊̂̈́̊͌ȑ̸̡̮͉͈̩̟͖͙̖̝͇̘͓̮͇͖̯̩͆͐͋͂̅̈́̈́̈̀̕͜͝s̵̖̯̫̼͂̑̅̀̀̊̉͊̊̈́̉̎̓́ ̵̗͔̣̲̲͙͈̺̽̋ạ̶̢̨̢͚͔̙͈͚̠͉̤͔͎̃̐̀̉͌̽̌̓̎̾̃̀͂̚̕͜͝ĺ̷̨̢̧̢̛̦͓̩͚͎̦͎̬̫̤̣̥̞̮͍̲̩̂̓̄͐͌͊͗̌̊̾͋̔͊̋̆͛̓̌͌̀͛͘l̸̻̹̜̤̬͔͚͔͈͔̝͎̜̦̦̞͔̥̹̩͎̲͙̊̓̀͜,̶̨̢͍̘̭̱̖̲̘͓̠̼̺͉̫̮̟̰̭̲̳̦̑̊̂̈́̌͛́̔̕͘͝ͅͅ ̶̭̊̀̓̾̌̾̂̀̈́r̴̜͈̠̒̃͆̌̾͌͒̀̃̐̾͂̚ȩ̵̢̛̹͙̪̺̤̯̞̲̳̥̙̫̭̪͍̋̍̒̀̒̅̀́͊̆̿́̔̐̈́̎͘̚͝͠͠ͅp̴̡̛̛̳̲͚̠̿͆̓͒͌̃̃̅̏͝͠ȩ̸̥̱͕̼͉̠͖̯̦̦̮̪̪̜̮͈̘̦̹͈̦̪̠̏̏́̋͛̔̒͊̇́͌̆͘n̷͖͕̼̲̙̩̝̭̺͓̖̹̞̞͕̙͓̘͂̍̋͑̀̉̈́̃̆͒͜ͅt̴͇͂̌̋̔͂͑̏͋̊͐̍̈́̌͂͋̉͗̋͜͝͝͝</li>
      </ol>
    </body>
  </html>